@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Karla:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #f5f7fb;
  margin: 0px;
}

h1,
h2,
h3 {
  font-family: "Karla", sans-serif;
  color: #293264;
}

p {
  font-family: "Inter", sans-serif;
  margin-bottom: 30px;
}

section {
  display: flex;
  justify-content: center;
}

.container {
  text-align: center;
  padding: 40px;
}

button {
  background-color: #4d5b9e;
  border: 3px solid #4d5b9e;
  color: #f5f7fb;
  font-family: "Inter", sans-serif;
  padding: 15px 50px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: 300ms;
}

button:hover {
  opacity: 80%;
}

.active {
  border: 3px solid #ffc800 !important;
}

.quizButtons {
  border: 3px #4d5b9e solid;
  background-color: #f5f7fb;
  color: #293264;
  margin: 10px;
}

.positionTopRight {
  position: sticky;
  top: 0px;
  left: 100%;
}

.positionBottomLeft {
  position: sticky;
  bottom: 0px;
  left: 0px;
}
